config.env
__pycache__/*
tg_userbot.session
tg_userbot.session-journal
tg_userbot/__pycache__/*
tg_userbot/modules/__pycache__/**
tg_userbot/utils/__pycache__/**
tg_userbot/modules/sql/__pycache__/**
