config.env
id_rsa
__pycache__/*
logs
tg_userbot/__pycache__/*
tg_userbot/modules/__pycache__/**
tg_userbot/utils/__pycache__/**
tg_userbot/modules/rextester/__pycache__/**
tg_userbot/modules/sql/__pycache__/**
